body, html {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;    
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

.header {
    grid-area: header;
    padding: 8px;
}

.header-search {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 100px;
}

.search-container {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 8fr;
    place-items: center;
}

.user-container {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 2fr 3.5fr;
    place-items: center;
}

input {
    border: 1px solid #ccc;
    box-shadow: none; 
}

.search-box {
    width: 100%;
    height: 32px;
    border-radius: 16px;
}

a {
    text-decoration: none;
    color: black;
}

.search-icon-button, 
.notifications-icon-button {
    width: 24px;
    height: 24px;
    padding: 0;
    outline: none;
    border: none;
    background-color: inherit;
}

.profile-icon-container {
    width: 32px;
    height: 32px;
    border-radius: 24px;
    overflow: hidden;
}

.profile-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.admin-name-link {
    justify-self: start;
    font-weight: bold;
}

.header-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user-info-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-items: start;
    align-items: center;
    margin-left: 40px;
}

.header-actions .profile-icon-container {
    width: 56px;
    height: 56px;
    border-radius: 28px;
}

.admin-name-container > p, 
.admin-name-container > h3 {
    margin: 8px 0;
}

.actions-button-container {
    justify-self: end;
    align-self: center;
    padding-right: 24px;
}

.action-button {
    width: 80px;
    height: 32px;
    margin-right: 12px;
    border: 0;
    border-radius: 16px;
    background-color: rgb(65, 168, 252);
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.sidebar {
    grid-area: sidebar;
    background-color: #1992D4;
    color: white;
}

.sidebar svg {
    fill: white;
}

.dashboard-icon {
    width: 32px;
    height: 32px;
    padding: 0;
    outline: none;
    border: none;
    background-color: inherit;
} 

.nav-button {
    width: 24px;
    height: 24px;
    padding: 0;
    outline: none;
    border: none;
    background-color: inherit;
}

.sidebar-branding {
    display: grid;
    grid-template-columns: 1fr 4fr;
    place-items: center;
}

.sidebar-branding h2 {
    justify-self: start;
    margin: 16px 0;
}

.nav-item {
    display: grid;
    grid-template-columns: 1fr 4fr;
    place-items: center;
}

.nav-item p {
    justify-self: start;
    margin: 16px 0;
}

.sidebar-nav {
    margin-top: 24px;
}

.sidebar-settings {
    margin-top: 24px;
}


.main {
    padding: 16px;
    grid-area: main;
    background-color: #E2E8F0;
    display: grid;
    grid-template-columns: 2fr .75fr ;
    gap: 16px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.project-heading {
    grid-column: span 2;
    margin: 0;
}

.projects h4 {
    margin: 0;
}

.projects p {
    font-size: .85em;
    margin: 0;
}

.project-card {
    padding: 16px;
    border-left: solid 8px #F0B429;
    border-radius: 6px;
    background-color: white;
}

.project-button-container {
    display: flex;
    justify-content: end;
    align-content: end;
    gap: 8px;
    padding: 16px 16px 0 16px;
}

.project-action-button {
    width: 32px;
    height: 32px;
    background-color: white;
    padding: 0;
    border: 0;
}

.project-action-button svg {
    width: 16px;
}

.announcements-container {
    background-color: white;
    padding: 16px;
}

.announcements-container h4 {
    margin: 0;
    font-size: 0.9em;
}

.announcements-container p {
    margin: 0;
    font-size: 0.7em;
}

.dashboard-updates h3 {
    margin: 0;
    margin-bottom: 16px;
}

hr {
    background-color: #F7F7F7;
    margin: 16px 0;
}

.announcement {
    padding: 4px;
}