body, html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

.header {
    grid-area: header;
}

.header-search {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search-container {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 8fr;
    place-items: center;
}

.user-container {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 2fr 3.5fr;
    place-items: center;
}

input {
    border-radius: 6px;
    border: 1px solid #ccc;
    box-shadow: none; 
}

.search-box {
    width: 100%;
    border-radius: 6px;
}

a {
    text-decoration: none;
    color: black;
}

.header-actions {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}